WebRoot/WEB-INF/xml/request/request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:simpleType name="methodType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="headerIntType">
		<xs:restriction base="xs:int">
			<xs:pattern value="[1-9]\d\d{1,}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="headerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAGE_CHANGED">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							画面跳转:-4
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SYSTEM_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							服务器异常:-2
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLANK">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							空白信息:-1
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REGISTER_SUCCESS">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							登录完毕:0
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INPUT_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							输入内容有错误:1
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REGISTER_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							输入内容的登录失败:2
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="READ_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							数据的获得失败:3
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NO_DATA">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							不存在所获得的数据:4
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELETE_SUCCESS">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							完成删除:5
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INIT_INFO">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							初期画面显示:6
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UPLOAD_SUCCESS">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							上传成功:7
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOGIN_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							用户名或者密码有错误:8
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SESSION_TIMEOUT">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							因为长时间没有操作，已自动退出:9
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DB_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							数据库操作异常:10
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELETE_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							数据的删除失败:12
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPEHIST_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							登录完毕，但操作履历导出失败:14
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPENAME_OVERLAP">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							输入的操作者名字已经被使用。请输入与其不同的操作者名字:17
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NO_OPE_REGIST">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							该操作者现在正在进行登录。对登录中的操作者不能进行删除、编辑:18
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NO_AUTHORITY">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							不能编辑、删除上位操作类别的操作者:19
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOGIN_ERR_SAME_PC">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							来自同一台计算机的登录:24
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOGIN_ERR_IP">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							不能获取有效的IP地址:25
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GENERAL_ERR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							处理失败:26
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOGIN_ERR_SESSION_MAX">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							连接的用户超过了session的最大数:27
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="displayPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="read"/>
			<xs:enumeration value="normal"/>
			<xs:enumeration value="notvisibled"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="colorPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="aqua"/>
			<xs:enumeration value="black"/>
			<xs:enumeration value="blue"/>
			<xs:enumeration value="fuchsia"/>
			<xs:enumeration value="gray"/>
			<xs:enumeration value="green"/>
			<xs:enumeration value="lime"/>
			<xs:enumeration value="maroon"/>
			<xs:enumeration value="navy"/>
			<xs:enumeration value="olive"/>
			<xs:enumeration value="purple"/>
			<xs:enumeration value="red"/>
			<xs:enumeration value="silver"/>
			<xs:enumeration value="teal"/>
			<xs:enumeration value="white"/>
			<xs:enumeration value="yellow"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="excelColorPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BLACK"/>
			<xs:enumeration value="BROWN"/>
			<xs:enumeration value="OLIVE_GREEN"/>
			<xs:enumeration value="DARK_GREEN"/>
			<xs:enumeration value="DARK_TEAL"/>
			<xs:enumeration value="DARK_BLUE"/>
			<xs:enumeration value="INDIGO"/>
			<xs:enumeration value="GREY_80_PERCENT"/>
			<xs:enumeration value="ORANGE"/>
			<xs:enumeration value="DARK_YELLOW"/>
			<xs:enumeration value="GREEN"/>
			<xs:enumeration value="TEAL"/>
			<xs:enumeration value="BLUE"/>
			<xs:enumeration value="BLUE_GREY"/>
			<xs:enumeration value="GREY_50_PERCENT"/>
			<xs:enumeration value="RED"/>
			<xs:enumeration value="LIGHT_ORANGE"/>
			<xs:enumeration value="LIME"/>
			<xs:enumeration value="SEA_GREEN"/>
			<xs:enumeration value="AQUA"/>
			<xs:enumeration value="LIGHT_BLUE"/>
			<xs:enumeration value="VIOLET"/>
			<xs:enumeration value="GREY_40_PERCENT"/>
			<xs:enumeration value="PINK"/>
			<xs:enumeration value="GOLD"/>
			<xs:enumeration value="YELLOW"/>
			<xs:enumeration value="BRIGHT_GREEN"/>
			<xs:enumeration value="TURQUOISE"/>
			<xs:enumeration value="DARK_RED"/>
			<xs:enumeration value="SKY_BLUE"/>
			<xs:enumeration value="PLUM"/>
			<xs:enumeration value="GREY_25_PERCENT"/>
			<xs:enumeration value="ROSE"/>
			<xs:enumeration value="LIGHT_YELLOW"/>
			<xs:enumeration value="LIGHT_GREEN"/>
			<xs:enumeration value="LIGHT_TURQUOISE"/>
			<xs:enumeration value="PALE_BLUE"/>
			<xs:enumeration value="LAVENDER"/>
			<xs:enumeration value="WHITE"/>
			<xs:enumeration value="CORNFLOWER_BLUE"/>
			<xs:enumeration value="LEMON_CHIFFON"/>
			<xs:enumeration value="MAROON"/>
			<xs:enumeration value="ORCHID"/>
			<xs:enumeration value="CORAL"/>
			<xs:enumeration value="ROYAL_BLUE"/>
			<xs:enumeration value="LIGHT_CORNFLOWER_BLUE"/>
			<xs:enumeration value="TAN"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="excelBorderStylePropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BORDER_NONE"/>
			<xs:enumeration value="BORDER_THIN"/>
			<xs:enumeration value="BORDER_MEDIUM"/>
			<xs:enumeration value="BORDER_DASHED"/>
			<xs:enumeration value="BORDER_DOTTED"/>
			<xs:enumeration value="BORDER_THICK"/>
			<xs:enumeration value="BORDER_DOUBLE"/>
			<xs:enumeration value="BORDER_HAIR"/>
			<xs:enumeration value="BORDER_MEDIUM_DASHED"/>
			<xs:enumeration value="BORDER_DASH_DOT"/>
			<xs:enumeration value="BORDER_MEDIUM_DASH_DOT"/>
			<xs:enumeration value="BORDER_DASH_DOT_DOT"/>
			<xs:enumeration value="BORDER_MEDIUM_DASH_DOT_DOT"/>
			<xs:enumeration value="BORDER_SLANTED_DASH_DOT"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="excelCellTypePropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CELL_TYPE_NUMERIC"/>
			<xs:enumeration value="CELL_TYPE_STRING"/>
			<xs:enumeration value="CELL_TYPE_FORMULA"/>
			<xs:enumeration value="CELL_TYPE_BLANK"/>
			<xs:enumeration value="CELL_TYPE_BOOLEAN"/>
			<xs:enumeration value="CELL_TYPE_ERROR"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="excelCellAlignPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALIGN_GENERAL"/>
			<xs:enumeration value="ALIGN_LEFT"/>
			<xs:enumeration value="ALIGN_CENTER"/>
			<xs:enumeration value="ALIGN_RIGHT"/>
			<xs:enumeration value="ALIGN_FILL"/>
			<xs:enumeration value="ALIGN_JUSTIFY"/>
			<xs:enumeration value="ALIGN_CENTER_SELECTION"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="excelCellVerticalPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VERTICAL_TOP"/>
			<xs:enumeration value="VERTICAL_CENTER"/>
			<xs:enumeration value="VERTICAL_BOTTOM"/>
			<xs:enumeration value="VERTICAL_JUSTIFY"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="excelCellGroundPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_FILL"/>
			<xs:enumeration value="SOLID_FOREGROUND"/>
			<xs:enumeration value="FINE_DOTS"/>
			<xs:enumeration value="ALT_BARS"/>
			<xs:enumeration value="SPARSE_DOTS"/>
			<xs:enumeration value="THICK_HORZ_BANDS"/>
			<xs:enumeration value="THICK_VERT_BANDS"/>
			<xs:enumeration value="THICK_BACKWARD_DIAG"/>
			<xs:enumeration value="THICK_FORWARD_DIAG"/>
			<xs:enumeration value="BIG_SPOTS"/>
			<xs:enumeration value="BRICKS"/>
			<xs:enumeration value="THIN_HORZ_BANDS"/>
			<xs:enumeration value="THIN_VERT_BANDS"/>
			<xs:enumeration value="THIN_BACKWARD_DIAG"/>
			<xs:enumeration value="THIN_FORWARD_DIAG"/>
			<xs:enumeration value="SQUARES"/>
			<xs:enumeration value="DIAMONDS"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="dataFormatPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="yyyy-MM-dd"/>
			<xs:enumeration value="yyyy/MM/dd"/>
			<xs:enumeration value="yyyyMMdd"/>
			<xs:enumeration value="yyyy年MM月dd日"/>
			<xs:enumeration value="yyyy年MM月dd日(E)"/>
			<xs:enumeration value="yyyy-MM-dd HH:mm:ss"/>
			<xs:enumeration value="yyyyMMddHHmmss"/>
			<xs:enumeration value="HH:mm:ss"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="excelCellValuePropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="%index%"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="styleProperteValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""></xs:enumeration>
			<xs:enumeration value="*"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="targetIdPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="_value"/>
			<xs:enumeration value="value"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="styleProperteValueAllType">
		<xs:union memberTypes="styleProperteValueType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="excelCellValuePropertyAllType">
		<xs:union memberTypes="excelCellValuePropertyType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="targetIdPropertyAllType">
		<xs:union memberTypes="resultValueType targetIdPropertyType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="resultValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="user:userId"/>
			<xs:enumeration value="user:userLogin"/>
			<xs:enumeration value="user:userName"/>
			<xs:enumeration value="user:dataSource"/>
			<xs:enumeration value="user:provinceId"/>
			<xs:enumeration value="%sysdate%"/>
			<xs:enumeration value="%sequence%"/>
			<xs:enumeration value="%sessionId%"/>
			<xs:enumeration value="$listindex"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="resultValueAllType">
		<xs:union memberTypes="resultValueType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="colorPropertyAllType">
		<xs:union memberTypes="colorPropertyType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="headerAllType">
		<xs:union memberTypes="headerType headerIntType"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="displayPropertyAllType">
		<xs:union memberTypes="displayPropertyType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="conditionOperatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="empty"/>
			<xs:enumeration value="notEmpty"/>
			<xs:enumeration value="=="/>
			<xs:enumeration value="!="/>
			<xs:enumeration value="＞"/>
			<xs:enumeration value="＞="/>
			<xs:enumeration value="＜"/>
			<xs:enumeration value="＜="/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="resultOperatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="set"/>
			<xs:enumeration value="add"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="conditionPropertyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="#Result"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="conditionPropertyAllType">
		<xs:union memberTypes="conditionPropertyType resultValueType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="messageType">
		<xs:union memberTypes="commonMessageType messageIntType resultValueAllType"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="messageIntType">
		<xs:restriction base="xs:int">
			<xs:pattern value="\d{0,2}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="commonMessageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOTHING_INPUT">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							没有输入的错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INPUT_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							输入错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RANGE_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							输入范围错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OVER_LENGTH">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							文字超限错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INPUT_INVALID">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							不能输入的文字错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NUM_ONLY_ERROR">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							数字的项目输入文字的错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TIME_DISORDER">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							时间前后验证错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OVERLAP">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							重复错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NUM_DIS_ORDER">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ 
							数字前后验证错误<br/>
			  			]]> 
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="scopeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="session"/>
			<xs:enumeration value="user"/>
			<xs:enumeration value="param"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="scopeAllType">
		<xs:union memberTypes="scopeType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="paramterPropertyValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="listindex"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="paramterPropertyAllValue">
		<xs:union memberTypes="paramterPropertyValue xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="parameterValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="%sysdate"/>
			<xs:enumeration value="%sequence"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="parameterValueAllType">
		<xs:union memberTypes="parameterValueType xs:string"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="dispCodeType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="classNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="abstractHandlerItem"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="methodNameType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-z][a-zA-Z0-9_]*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="classNameAllType">
		<xs:union memberTypes="classNameType methodNameType"></xs:union>
	</xs:simpleType>
	
	<xs:simpleType name="cmdCodeType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="handlerclass">
		<xs:complexType>
			<xs:attribute name="name" type="classNameAllType" use="required">
				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						机能处理类名称<br/>
						格式：必须输入，首字母小写
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="method" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:attribute name="name" type="methodNameType" use="required">
				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法名称<br/>
						格式：必须输入，首字母小写
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
			</xs:attribute>
			
			<xs:attribute name="type" type="methodType">
				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法名称<br/>
						格式：必须输入，首字母小写
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="params">
 		<xs:complexType>
  			<xs:sequence>
   				<xs:element ref="param" maxOccurs="unbounded"/>
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="param">
		<xs:complexType>
  			<xs:all>
  				<xs:element ref="formats" minOccurs="0" />
   				<xs:element ref="conditions" minOccurs="0"/>
  			</xs:all>
			<xs:attribute name="key" type="xs:string" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						条件的key值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="value" type="resultValueAllType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						条件的值<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符串类型
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="list" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否为数组类型<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="sessionAllowNull" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否允许session为空<br/>
						如果为true，那么session为空的时候不会抛出用户session过期的异常<br/>
						默认为false<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="keep" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否保留到返回画面的结果集中<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="item">
		<xs:complexType>
			<xs:all>
				<xs:element ref="checks" minOccurs="0" />
				<xs:element ref="params" minOccurs="0" />
				<xs:element ref="results" minOccurs="0"/>
				<xs:element ref="externals" minOccurs="0"/>
				<xs:element ref="excel" minOccurs="0"/>
				<xs:element ref="conditions" minOccurs="0"/>
			</xs:all>
			
			<xs:attribute name="sql" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法调用sql<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="index" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法执行标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="list" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						查询结果是否为数组<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="selectedKey" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						关联查询结果中的key，作为下拉框默认的选择值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="targetId" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						查询结果绑定的画面控件ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="describe" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法说明<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="mail">
		<xs:complexType>
			<xs:all>
				<xs:element ref="params" minOccurs="0" />
				<xs:element ref="results" minOccurs="0"/>
				<xs:element ref="conditions" minOccurs="0"/>
			</xs:all>
			
			<xs:attribute name="url" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						生成邮件内容的URL<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="mailServerHost" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						邮件服务器的地址<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="mailServerPort" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						邮件服务器的端口<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="userName" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						发送邮件的用户名<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="password" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						发送邮件的密码<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="validate" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						发送邮件是否需要安全认证<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="fromAddress" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						发送邮件人的邮件地址<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="toAddress" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						邮件接收者的地址<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="subject" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						邮件主题<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="content" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						邮件内容<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="index" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法执行标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="items" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="styles" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="mails" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mail" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="lists">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="list" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="complex" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="items" minOccurs="0"/>
				<xs:element ref="lists" minOccurs="0"/>
				<xs:element ref="excel" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="formats">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="format" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="format">
		<xs:complexType>
			<xs:attribute name="method" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						格式化类中对应的方法名<br/>
						格式：必须输入,字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
		  			<xs:union memberTypes="xs:string">
				  		<xs:simpleType>
		  					<xs:restriction base="xs:string">
		  						<xs:enumeration value=""></xs:enumeration>
		  						<xs:enumeration value="md5"></xs:enumeration>
		  						<xs:enumeration value="dateToNum"></xs:enumeration>
		  					</xs:restriction>
		  				</xs:simpleType>
		  			</xs:union>
		  		</xs:simpleType>
  			</xs:attribute>
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						格式化方法执行后，在action中的ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			<xs:attribute name="params" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						格式化的参数<br/>
						如果需要传入多个参数，用空格分隔<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="externals">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="external" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="external">
		<xs:complexType>
			<xs:all>
				<xs:element ref="params" minOccurs="0" />
				<xs:element ref="results" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="method" type="xs:string" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						外部共通类中对应的方法名<br/>
						格式：必须输入,字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						外部共通方法执行后，在action中的ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cmbs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cmb" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="update">
		<xs:complexType>
			<xs:all>
				<xs:element ref="params" minOccurs="0" />
				<xs:element ref="results" minOccurs="0"/>
				<xs:element ref="checks" minOccurs="0" />
				<xs:element ref="conditions" minOccurs="0"/>
				<xs:element ref="externals" minOccurs="0"/>
			</xs:all>
			
			<xs:attribute name="sql" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法调用sql<br/>
						格式：必须输入,字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="index" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法执行标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="hasResult" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否有返回结果<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="updates" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="update" maxOccurs="unbounded" />
				<xs:element ref="params" minOccurs="0" />
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="success" type="headerAllType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						成功时显示的信息<br/>
						格式：字符选项或者数值（>=100）
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="error" type="headerAllType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						错误时显示的信息<br/>
						格式：字符选项或者数值（>=100）
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="upload" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="checks" minOccurs="0" />
				<xs:element ref="params" minOccurs="0" />
				<xs:element ref="results" minOccurs="0"/>
				<xs:element ref="excel" minOccurs="0"/>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			<xs:attribute name="sql" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法调用sql<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			<xs:attribute name="path" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						上传路径<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="useFileName" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否用文件名字作为上传文件的名字<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="fileName" type="xs:string">
  				<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						自定义文件名字<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						格式：字符串类型
		  			]]>
    				</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="ftp" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否用ftp上传<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="list" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否上传的文件内容为多项目【true：多项目；false：单项目】<br/>
						此属性对应<excel>标签<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="targetId" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						查询结果绑定的画面控件ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="dataType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						返回页面的数据类型<br/>
						item：单项目<br/>
						list：多项目<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
  					<xs:restriction base="xs:string">
  						<xs:enumeration value="item"></xs:enumeration>
  						<xs:enumeration value="list"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
			<xs:attribute name="initialize" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						上传路径下的文件是否需要初始化<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="list" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:all>
				<xs:element ref="params" minOccurs="0" />
				<xs:element ref="results" minOccurs="0"/>
				<xs:element ref="styles" minOccurs="0"/>
				<xs:element ref="externals" minOccurs="0"/>
				<xs:element ref="cmbs" minOccurs="0"/>
				<xs:element ref="excel" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="sql" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法调用sql<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="targetId" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						刷新区域ID或者对应在<complex>标签中被tableRowMap识别的key<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="pageSize" type="xs:int">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						分页每页显示数据数<br/>
						格式：数值型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="initialize" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否在画面初始化时执行，【true：执行，false：不执行】，默认false<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="servlet" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:attribute name="method" type="xs:string" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法名<br/>
						格式：必须输入，字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="dimension" substitutionGroup="cmdElements">
		<xs:complexType>
			<xs:all>
				<xs:element ref="params" minOccurs="0" />
				<xs:element ref="results" minOccurs="0"/>
				<xs:element ref="styles" minOccurs="0"/>
				<xs:element ref="list" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="sql" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法调用sql<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="targetId" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						刷新区域ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="pageSize" type="xs:int">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						分页每页显示数据数<br/>
						格式：数值型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="option">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						下拉框的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="label" type="xs:string" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						下拉框的label<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cmb">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="sql" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法调用sql<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						共通资源ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="targetId" type="xs:string" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						刷新区域ID<br/>
						格式：必须输入,字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="key" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应下拉框二级联动二级菜单查询条件的KEY,如果有多个条件KEY用空格分隔<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="value" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						下拉框的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="label" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						下拉框的显示<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="count" type="xs:int">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						下拉框的内容数量<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="start" type="xs:int">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						下拉框的开始值<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="end" type="xs:int">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						下拉框的结束值<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cmdElements" abstract="true"/>
	
	<xs:element name="cmd">
 		<xs:complexType>
  			<xs:all>
				<xs:element ref="cmdElements" minOccurs="0"/>
				<xs:element ref="dataSource" minOccurs="0"/>
  			</xs:all>
 			
  			<xs:attribute name="code" type="cmdCodeType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法ID<br/>
						格式：必须输入，输入值为数值型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="jsp" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法触发画面路径<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="describe" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法的注解<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="logout">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						session过期时是否自动登出【不设置默认自动登出】<br/>
						0：不自动登出<br/>
						1：自动登出
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  				<xs:simpleType>
  					<xs:restriction base="xs:int">
  						<xs:enumeration value="0"></xs:enumeration>
  						<xs:enumeration value="1"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
  			<xs:attribute name="forward" type="xs:integer">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						要迁移的画面ID<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="inputStream" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否从request的inputStream中获取流信息<br/>
						【true：获取；false：不获取】，默认false<br/>
						如果为true不能在上传或者与request流相关的功能并用<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="check">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否进行共通验证<br/>
						0：不进行共通验证<br/>
						1：进行共通验证
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  				<xs:simpleType>
  					<xs:restriction base="xs:int">
  						<xs:enumeration value="0"></xs:enumeration>
  						<xs:enumeration value="1"></xs:enumeration>
  						<xs:enumeration value="2"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
  			<xs:attribute name="checkIndex">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						是否进行指定行数的验证，此属性值为设定行数的控件的【name】的值<br/>
						如果此项不设置，默认为【FcheckF】<br/>
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
		  			<xs:union memberTypes="xs:string">
		  				<xs:simpleType>
		  					<xs:restriction base="xs:string">
		  						<xs:enumeration value=""></xs:enumeration>
		  						<xs:enumeration value="FcheckF"></xs:enumeration>
		  					</xs:restriction>
		  				</xs:simpleType>
		  			</xs:union>
		  		</xs:simpleType>
  			</xs:attribute>
  			
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cmds">
 		<xs:complexType>
  			<xs:sequence>
   				<xs:element ref="cmd" maxOccurs="unbounded"/>
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="disp">
 		<xs:complexType>
  			<xs:all>
   				<xs:element ref="cmds" minOccurs="0"/>
   				<xs:element ref="cmbs" minOccurs="0"/>
  			</xs:all>
  			
  			<xs:attribute name="code" type="dispCodeType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						画面ID<br/>
						格式：必须输入，数值类型，长度为6位
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="class" type="classNameAllType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						机能处理类名称<br/>
						格式：必须输入，首字母小写
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="jsp" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						机能主画面路径<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="logout">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						session过期时是否自动登出【不设置默认自动登出】<br/>
						0：不自动登出<br/>
						1：自动登出
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  				<xs:simpleType>
  					<xs:restriction base="xs:int">
  						<xs:enumeration value="0"></xs:enumeration>
  						<xs:enumeration value="1"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
  			<xs:attribute name="describe" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						画面机能的注解<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="request">
 		<xs:complexType>
  			<xs:sequence>
   				<xs:element ref="resource" minOccurs="0"/>
   				<xs:element ref="disps"/>
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="disps">
 		<xs:complexType>
  			<xs:sequence>
   				<xs:element ref="disp" maxOccurs="unbounded"/>
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="resource">
 		<xs:complexType>
  			<xs:all>
   				<xs:element ref="cmbs" minOccurs="0"/>
   				<xs:element ref="dataSource" minOccurs="0"/>
   				<xs:element ref="excelStyles" minOccurs="0"/>
   				<xs:element ref="excel" minOccurs="0"/>
  			</xs:all>
  			
		</xs:complexType>
	</xs:element>

    <xs:element name="styles">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="style" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="excelStyles">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="cellStyle" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="display">
    	<xs:complexType>
    		<xs:sequence>
				<xs:element ref="conditions" minOccurs="0"/>
			</xs:sequence>
    		<xs:attribute name="value" type="displayPropertyAllType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						样式属性值<br/>
						格式：必须输入，字符串类型
		  				]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
   		</xs:complexType>
    </xs:element>

    <xs:element name="textColor">
    	<xs:complexType>
    		<xs:sequence>
				<xs:element ref="conditions" minOccurs="0"/>
			</xs:sequence>
    		<xs:attribute name="value" type="colorPropertyAllType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						样式属性值<br/>
						格式：必须输入，字符串类型
		  				]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
   		</xs:complexType>
    </xs:element>

    <xs:element name="backgroundColor">
    	<xs:complexType>
    		<xs:sequence>
				<xs:element ref="conditions" minOccurs="0"/>
			</xs:sequence>
    		<xs:attribute name="value" type="colorPropertyAllType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						样式属性值<br/>
						格式：必须输入，字符串类型
		  				]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
   		</xs:complexType>
    </xs:element>

    <xs:element name="style">
    	<xs:complexType>
			<xs:all>
				<xs:element ref="displays" minOccurs="0"/>
				<xs:element ref="textColors" minOccurs="0"/>
				<xs:element ref="backgroundColors" minOccurs="0"/>
				<xs:element ref="conditions" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="property" use="required" type="styleProperteValueAllType">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						控件ID<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
		</xs:complexType>
    </xs:element>

    <xs:element name="displays">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="display" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="textColors">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="textColor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>

    <xs:element name="backgroundColors">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="backgroundColor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="results">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="result" maxOccurs="unbounded"/>
			</xs:sequence>
			
			<xs:attribute name="constant" type="xs:boolean">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						【result】标签中的结果是否为常量<br/>
						布尔类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
			
			<xs:attribute name="appoint" type="xs:boolean">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						是否只返回【result】标签对应的结果：【true：只返回result标签对应的数据；false或者不设置为返回全部结果数据】<br/>
						布尔类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
		</xs:complexType>
    </xs:element>

    <xs:element name="result">
    	<xs:complexType>
    		<xs:all>
   				<xs:element ref="conditions" minOccurs="0"/>
   				<xs:element ref="formats" minOccurs="0" />
  			</xs:all>
    		<xs:attribute name="targetId" type="targetIdPropertyAllType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						处理结果对应画面控件的ID或者为数据库中对应字段名称<br/>
						如果【operator】没有被设置，结果为数据库中对应【targetId】字段的值<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>

    		<xs:attribute name="operator" type="resultOperatorType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						值变化的运算方法<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    		
    		<xs:attribute name="value" type="resultValueAllType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						输出对象要变化的值<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    		
    		<xs:attribute name="list" type="xs:boolean">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						输出数据是否为数组类型【true：数组类型：false：非数组类型】<br/>
						格式：布尔类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="checks">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="check" maxOccurs="unbounded"/>
			</xs:sequence>
			
			<xs:attribute name="success" type="headerAllType">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						正确验证结果的信息code<br/>
						格式：headerAllType
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
			
			<xs:attribute name="error" type="headerAllType">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						错误验证结果的信息code<br/>
						格式：headerAllType
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="check">
    	<xs:complexType>
    		<xs:all>
    			<xs:element ref="params" minOccurs="0" />
    			<xs:element ref="conditions" minOccurs="0"/>
    			<xs:element ref="whether" minOccurs="0"/>
    			<xs:element ref="tabs" minOccurs="0" />
    			<xs:element ref="externals" minOccurs="0"/>
    		</xs:all>
    		<xs:attribute name="sql" type="xs:string">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						验证的sql文<br/>
						格式：字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    		
    		<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
    		
    		<xs:attribute name="resCode" type="headerAllType">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						验证错误报出的错误信息code<br/>
						格式：字符选项或者数值（>=100）
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    		
			<xs:attribute name="index" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						验证执行序号标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
			
			<xs:attribute name="describe" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						验证说明<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="success" type="headerAllType">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						正确验证结果的信息code<br/>
						格式：headerAllType
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
			
			<xs:attribute name="error" type="headerAllType">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						错误验证结果的信息code<br/>
						格式：headerAllType
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>

    	</xs:complexType>
    </xs:element>
    
    <xs:element name="tabs">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="tab" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="tab">
    	<xs:complexType>
    		<xs:attribute name="targetId" type="xs:string" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						验证控件ID<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    		
			<xs:attribute name="message" type="messageType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						验证失败显示的信息ID<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符类型选项或者数值（0-99）
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
    	</xs:complexType>
    </xs:element>
    
    <!-- 在验证中做判断，如果whether中的condition为【false】，验证不再进行，当没有错误处理 -->
    <xs:element name="whether">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="condition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="conditions">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="condition" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应扩展类中的标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="condition">
    	<xs:complexType>
			<xs:all>
				<xs:element ref="compareSource"/>
				<xs:element ref="compareTarget" minOccurs="0" />
				<xs:element ref="params" minOccurs="0" />
			</xs:all>
    		<xs:attribute name="operator" type="conditionOperatorType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						条件判断方法<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    		<xs:attribute name="sql" type="xs:string">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						条件用到的sql<br/>
						格式：字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
    		<xs:attribute name="source" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应操作数据库的key值，此值对应<applicationContext-beans.xml>配置文件中的<switchDataSource>中的值<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
    		<xs:attribute name="index" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						方法执行标识<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="compareSource">
    	<xs:complexType>
    		<xs:all>
  				<xs:element ref="formats" minOccurs="0" />
  			</xs:all>
    		<xs:attribute name="value" type="conditionPropertyAllType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						被比较对象的值<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						【#Result】:数据库查询的整体结果<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
		</xs:complexType>
    </xs:element>
    
    <xs:element name="compareTarget">
    	<xs:complexType>
    		<xs:all>
  				<xs:element ref="formats" minOccurs="0" />
  			</xs:all>
    		<xs:attribute name="value" type="conditionPropertyAllType" use="required">
    			<xs:annotation>
    				<xs:documentation>
    					<![CDATA[ 
						比较对象的值<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						【#Result】:数据库查询的整体结果<br/>
						格式：必须输入，字符串类型
		  			]]>
    				</xs:documentation>
    			</xs:annotation>
    		</xs:attribute>
		</xs:complexType>
    </xs:element>
	
	<xs:element name="excel">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="sheets" minOccurs="0" />
  			</xs:sequence>
  			
			<xs:attribute name="inName" type="resultValueAllType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel的文件名【读取用】<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="inPath" type="resultValueAllType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel的路径，默认是工程的相对路径，以工程路径为根目录【读取用】<br/>
						如果absolute属性为true，此属性需设置绝对路径<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="outName" type="resultValueAllType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel的文件名【输出用】<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="outPath" type="resultValueAllType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel的路径，默认是工程的相对路径，以工程路径为根目录【输出用】<br/>
						如果absolute属性为true，此属性需设置绝对路径<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="inAbsolute" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel路径是否为绝对路径【true：绝对；false：相对】【读取用】<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="outAbsolute" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel路径是否为绝对路径【true：绝对；false：相对】【输出用】<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="type">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						操作excel的类型【read：读取excel；write：生成excel；response：响应给客户端】，不设置默认【response】<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
  					<xs:restriction base="xs:string">
  						<xs:enumeration value="read"></xs:enumeration>
  						<xs:enumeration value="write"></xs:enumeration>
  						<xs:enumeration value="stream"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
  			<xs:attribute name="fileType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						生成excel的文件类型<br/>
						如果类型为读取，此属性可为任意值，实际类型按照文件类型自动设定<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
  					<xs:restriction base="xs:string">
  						<xs:enumeration value="xls"></xs:enumeration>
  						<xs:enumeration value="xlsx"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
		</xs:complexType>
	</xs:element>
	
	<xs:element name="sheets">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="sheet" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
	
	<xs:element name="sheet">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="rows" minOccurs="0" />
  			</xs:sequence>
  			
			<xs:attribute name="name" type="resultValueAllType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						sheet的名称<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						格式：必须输入，字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
		</xs:complexType>
	</xs:element>
	
	<xs:element name="rows">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="row" maxOccurs="unbounded"/>
			</xs:sequence>
  			
			<xs:attribute name="alternate" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						列表是否隔行换色显示<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="oddColor" type="excelColorPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						列表奇数行的颜色<br/>
						格式：颜色列表
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="evenColor" type="excelColorPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						列表偶数行的颜色<br/>
						格式：颜色列表
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
    </xs:element>
	
	<xs:element name="row">
		<xs:complexType>
		
  			<xs:sequence>
  				<xs:element ref="cells" minOccurs="0" />
  			</xs:sequence>
  			
			<xs:attribute name="site" type="xs:integer" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel上单元格的行数【从0开始，如果是多项目，则为循环起始的行数】<br/>
						格式：必须输入，数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="height" type="xs:integer">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel上单元格的高度设置【生成excel时】<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="targetId" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应来源数据中数组数据的key<br/>
						根据此值，可以在一个excel中传入多个数组数据，分别循环写入<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="class" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应<resource>标签中的样式表的ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="start" type="xs:integer">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						cell循环的起始坐标，如果设置此值，需要设置end属性，并且嵌套<cell>标签只能有一个<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="end" type="xs:integer">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						cell循环的结束坐标，如果设置此值，需要设置end属性，并且嵌套<cell>标签只能有一个<br/>
						超过此值，就从下一行的start坐标处开始生成数据<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cells">
    	<xs:complexType>
			<xs:sequence>
				<xs:element ref="cell" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
	
	<xs:element name="cell">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="cellStyle" minOccurs="0" />
  				<xs:element ref="conditions" minOccurs="0"/>
  			</xs:sequence>
  			
			<xs:attribute name="site" type="xs:integer">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel上单元格的列数【从0开始】<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="width" type="xs:integer">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel上单元格的宽度设置【生成excel时】<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="type" type="excelCellTypePropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel上单元格的类型设置【生成excel时】<br/>
						默认：字符串常量【CELL_TYPE_STRING】<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="class" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应<resource>标签中的样式表的ID<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="value" type="excelCellValuePropertyAllType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel上单元格的值【生成excel时】<br/>
						默认：字符串常量<br/>
						【#】:数据库查询结果中的key<br/>
						【$】:request中的key<br/>
						【%】:session中的key<br/>
						【fmt:】:后边的key值对应多语言文件中的key<br/>
						【user:】:后边的key值对应用户信息在session中的key<br/>
						【%sysdate%】:系统当前日期<br/>
						【%sequence%】:根据日期时间及随机数生成序列<br/>
						【$listindex】:多项目数据的行序列<br/>
						【#Result】:数据库查询的整体结果<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
			<xs:attribute name="targetId" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						excel上单元格的值对应画面控件的ID【读取excel时】<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cellStyle">
		<xs:complexType>
  			<xs:all>
  				<xs:element ref="cellBorders" minOccurs="0" />
  				<xs:element ref="cellFont" minOccurs="0" />
  				<xs:element ref="cellDataFormat" minOccurs="0" />
  				<xs:element ref="cellLayout" minOccurs="0" />
  				<xs:element ref="cellGround" minOccurs="0" />
  			</xs:all>
  			
  			<xs:attribute name="id" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						对应<resource>标签中的属性，次属性的值可以对应<cell>标签class属性，作为样式的引用<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cellDataFormat">
		<xs:complexType>
		
  			<xs:attribute name="format" type="dataFormatPropertyType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						单元格数据格式化的规则<br/>
						格式：必须输入，字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
  			<xs:attribute name="sourceFormat" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						来源数据的日期格式【设置此属性，数据默认为日期类型】<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cellLayout">
		<xs:complexType>
		
  			<xs:attribute name="align" type="excelCellAlignPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						单元格横向布局方式<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
  			<xs:attribute name="vertical" type="excelCellVerticalPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						单元格纵向布局方式<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cellBorders">
		<xs:complexType>
  			<xs:all>
  				<xs:element ref="wholeBorder" minOccurs="0" />
  				<xs:element ref="leftBorder" minOccurs="0" />
  				<xs:element ref="rightBorder" minOccurs="0" />
  				<xs:element ref="topBorder" minOccurs="0" />
  				<xs:element ref="bottomBorder" minOccurs="0" />
  			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="dataSource">
		<xs:complexType>
  			<xs:attribute name="target" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						数据源名称【对应applicationContext-ibatis.xml文件中，dataSource下的targetDataSources属性里的key数组的值】<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			<xs:attribute name="method" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						切换数据源对应的方法名【对应applicationContext-ibatis.xml文件中，dataSource下的targetDataSources属性里的key数组的值】<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cellFont">
		<xs:complexType>
		
			<xs:attribute name="name" type="xs:string">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体名称<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
			<xs:attribute name="bold">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体粗体样式<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
  					<xs:restriction base="xs:string">
  						<xs:enumeration value="normal"></xs:enumeration>
  						<xs:enumeration value="bold"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
  			<xs:attribute name="color" type="excelColorPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体颜色<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="italic" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体是否为斜体<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="strikeout" type="xs:boolean">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体是否加删除线<br/>
						格式：布尔类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="fontHeight" type="xs:integer">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体高度<br/>
						格式：数值类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
  			
  			<xs:attribute name="typeOffset">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体标注样式<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
  					<xs:restriction base="xs:string">
  						<xs:enumeration value="normal"></xs:enumeration>
  						<xs:enumeration value="super"></xs:enumeration>
  						<xs:enumeration value="subscript"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
  			<xs:attribute name="underline">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						字体下划线样式<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
		  		<xs:simpleType>
  					<xs:restriction base="xs:string">
  						<xs:enumeration value="NONE"></xs:enumeration>
  						<xs:enumeration value="SINGLE"></xs:enumeration>
  						<xs:enumeration value="DOUBLE"></xs:enumeration>
  						<xs:enumeration value="SINGLE_ACCOUNTING"></xs:enumeration>
  						<xs:enumeration value="DOUBLE_ACCOUNTING"></xs:enumeration>
  					</xs:restriction>
  				</xs:simpleType>
  			</xs:attribute>
  			
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cellGround">
		<xs:complexType>
		
  			<xs:attribute name="foreColor" type="excelColorPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						单元格前景色<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
  			<xs:attribute name="backColor" type="excelColorPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						单元格后景色<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
  			<xs:attribute name="fill" type="excelCellGroundPropertyType" use="required">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						单元格填充方式<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="cellBorder">
		<xs:complexType>
		
  			<xs:attribute name="style" type="excelBorderStylePropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						边框样式<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		
  			<xs:attribute name="color" type="excelColorPropertyType">
  				<xs:annotation>
					<xs:documentation>
					<![CDATA[ 
						边框颜色<br/>
						格式：字符串类型
		  			]]> 
		  			</xs:documentation>
		  		</xs:annotation>
  			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="wholeBorder">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="cellBorder" minOccurs="0" />
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="leftBorder">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="cellBorder" minOccurs="0" />
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="rightBorder">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="cellBorder" minOccurs="0" />
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="topBorder">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="cellBorder" minOccurs="0" />
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="bottomBorder">
		<xs:complexType>
  			<xs:sequence>
  				<xs:element ref="cellBorder" minOccurs="0" />
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>